#logo {
    font-family: 'Jua', sans-serif;
}

h5 {
    font-family: 'Jua', sans-serif;
}

#articles {
    padding-left: 20px;
    text-align: center;
}

#notes {
    padding-right: 20px;
    text-align: center;
}